@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Gothic+A1:wght@400;600;700&display=swap');


/* PALETA DE COR NOVA */
/* azul escuro #252b39 *
/* azul claro #395e89 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

a{
  color: white;
}
img{
    max-width: 100% !important;
    display: block;
}
/* CABEÇALHO */

.brand {
  gap: 1rem;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.cabecalho-txt {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  font-weight: 700;
  
}
.contNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  background: #395e89f5;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  transition: 0.8s;
}

.nav-link{
  color: #fff !important;
}
.offcanvas{
  color: #fff !important;
}
  .bg-primary {
  background: #395e89 !important;
}
.bg-danger {
  background: #252b39 !important;
}
  .navPC{
    visibility: visible;
  }
  .navMOBILE{
    visibility: hidden;
  }
.offcanvas-end {
    width: 230px;
}
.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 1rem;
}
.navbar-brand-img {
  width: 270px;
}
.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
}

.iconcontatoD {
  color: #000000;
  margin-right: 5px;
}
.numeroTelefone {
  background: none;
  border: none;
}

/* MAIN */
.conteudo {
  background-image: url(fundo.png);
  background-size: cover;
  border-bottom: solid 0.4px #395e89;
}
.primario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15% 5% 8% 5%;
  transition: 1.2s;
}
.primario-txt {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.primario-txt-titulo { 
  font-size: 34px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.65);
  /* text-transform: uppercase; */
}
.primario-txt-bio {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  font-weight: bold;
    display: flex;
    text-align: justify;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.70);
  width: 450px;
  color: #ffffff;
}
.primario-info a{
  text-decoration: none;
}
.primario-info i{
  transition: 0.3s;
}
.primario-img {
  width: 362px;
  transition: 1s;
}
.primario-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  transition: 1.2s;
}
.primario-btn-item {
  background-color: #395e89;
  border: none;
  border-radius: 11px;
  width: 135px;
  height: 53px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}
.primario-btn-item:hover {
  background-color: #12ADBF;
  width: 145px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: #D0EFF2;
}
/* MEDIA QUERY */
@media (max-width: 1010px){
  .cabecalho {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }
  .cabecalho-img {
    margin-left: 0px;
  }
  .cabecalho-txt {
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .primario-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

}

/* espaçamento entre navBar e "Derik Neves Vieira" */
@media (max-width: 640px){
  .primario {
    padding: 25% 5% 8% 5%;
}
  
}
  @media (max-width: 435px){
  .primario {
    padding: 55% 5% 8% 5%;
}
}
    @media (max-width: 435px){
  .primario {
    padding: 65% 2% 8% 2%;
}
}
/* /espaçamento entre navBar e "Derik Neves Vieira" */
@media (max-width: 850px){
  .primario {
  flex-direction: column;
}
}

@media (max-width: 397px){

  .contNav {
  display: flex;
  flex-direction: row-reverse;
  transition: 1.2s;
}

}

  
@media (max-width: 992px) {
    .navPC{
    visibility: hidden;
  }
  .navMOBILE{
    visibility: visible;
  }
    
}
  
